#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 10px;
  text-align: center;
}

#toPrint {
  /* max-height: 29.7cm; */
  /* max-width: 21cm; */
  margin-left: auto;
  margin-right: auto;
}

table {
  max-width: 100%;
  border: 1.5px solid black;
  table-layout:fixed;
  font-family: monospace;
  font-variant-numeric: tabular-nums;
  
}

td:empty:after, th:empty:after {
  content: "\00a0";
}

ul {
  margin-top: 20px;
  list-style-type: none;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
  
}

@media print {

  
  #content {
    top: -200px !important;
    max-height: 27cm;
    margin: 0;
    max-width: 21cm;
  }

  #hide, #header {
    display: none;
  }

  #title, #wordDisplay {
    margin-top: 0;
    padding-top: 0;
  }


}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
